**/.DS_Store
figs
out
data
logs
draft/diff.tex
draft/diff.pdf
draft/diff.aux
draft/diff.bbl
draft/diff.blg
draft/diff.log
draft/diff.toc
draft/manuscript.tex
draft/manuscript.pdf
draft/manuscript.aux
draft/manuscript.bbl
draft/manuscript.blg
draft/manuscript.log
draft/manuscript.toc
draft/supplementary-information.tex
draft/supplementary-information.pdf
draft/supplementary-information.aux
draft/supplementary-information.bbl
draft/supplementary-information.blg
draft/supplementary-information.log
draft/supplementary-information.toc
draft/rheological-parameters.md
draft/centerline-profile-results.md
